@import "tailwindcss";
@source '../../Views/';

@theme {

  --color-gunmetal: #2d3142ff;
  --color-lapis-lazuli: #2f5b9fff;
  --color-celtic-blue: #3070ceff;
  --color-celestial-blue: #008dd5ff;
  --color-azure: #3185fcff;
  --color-electric-blue: #34e5ffff;
  --color-cinnabar: #e94f37ff;
  --color-chili-red: #e3170aff;

  /*$gradient-top: linear-gradient(0deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-right: linear-gradient(90deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom: linear-gradient(180deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-left: linear-gradient(270deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-top-right: linear-gradient(45deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-top-left: linear-gradient(225deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-radial: radial-gradient(#ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  
}

@layer base {
  
  html, body {
    @apply w-full h-full font-light;
  } 
  
  body {
    @apply flex flex-col overflow-hidden bg-gray-200;
  }
  
  .general-form label {
    @apply block font-medium text-gray-700;
  }

  .general-form input {
    @apply mt-2 block w-full rounded-lg border-gray-400 focus:ring-2 focus:ring-azure focus:outline-none p-2;
  }
  
  .add-category-form input {
    @apply rounded-lg focus:ring-0 focus:outline-none grow;
  }
}

@layer components {
  
  .category-brick {
    @apply flex flex-row flex-nowrap shrink-0 grow justify-center;
    @apply h-16 p-4;
    @apply bg-celestial-blue text-black text-xl;
    @apply transition-colors duration-75 ease-in-out;
    @apply rounded shadow-lg shadow-gray-400;
    @apply hover:bg-lapis-lazuli hover:text-white  hover:shadow-celestial-blue;
  }
  
  .category-brick .btn {
    @apply h-full  stroke-black duration-300 ease-in-out hover:stroke-white hover:scale-120;
  }
  
  .category-brick .link-to-items {
    @apply flex justify-center items-center shrink-0 h-full text-nowrap;
  }
  
  .category-brick .add-category-form {
    @apply flex flex-row h-full; 
  }
  
  .main-header {
    @apply h-16 p-4 bg-gunmetal text-white flex flex-row;
  }
  
  .main-footer {
    @apply h-16 p-4 bg-gunmetal text-white flex flex-row justify-center z-10;
  }
  
  .main-content {
    @apply flex flex-row grow-1;
  }
  
  .render-block {
    @apply max-sm:w-full sm:grow-1 overflow-y-auto;
  }
  
  
  .left-sidebar {
    @apply h-full shrink-0;
    @apply sm:w-60 max-sm:w-full max-sm:absolute max-sm:pb-32;
    @apply bg-gunmetal text-white;
    @apply overflow-y-auto transform transition-transform duration-200;
    @apply aria-hidden:absolute aria-hidden:left-0 aria-hidden:-translate-x-full;
  }
  
  .left-sidebar .nav-menu {
    @apply w-full;
  }
  
  .left-sidebar .nav-menu .btn {
    @apply flex justify-center items-center;
    @apply w-full h-12 bg-celestial-blue text-black text-xl transition-colors duration-75 hover:bg-lapis-lazuli hover:text-white;
    @apply border-b-2 border-lapis-lazuli;
    @apply last:border-none
  }
  
  .general-form {
    @apply p-6 bg-white rounded-lg shadow-lg shadow-gray-400;
  }

  .general-form .btn-submit {
    @apply w-full bg-celtic-blue text-white py-2 rounded-lg transition;
  }
}

@layer utilities {
}