@import "tailwindcss";
@source '../../Views/';

@theme {
  

  --color-gunmetal: #2d3142ff;
  --color-lapis-lazuli: #2f5b9fff;
  --color-celtic-blue: #3070ceff;
  --color-celestial-blue: #008dd5ff;
  --color-azure: #3185fcff;
  --color-electric-blue: #34e5ffff;
  --color-cinnabar: #e94f37ff;
  --color-chili-red: #e3170aff;

  /*$gradient-top: linear-gradient(0deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-right: linear-gradient(90deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom: linear-gradient(180deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-left: linear-gradient(270deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-top-right: linear-gradient(45deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-top-left: linear-gradient(225deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  /*$gradient-radial: radial-gradient(#ffffffff, #373f51ff, #008dd5ff, #e94f37ff, #f56476ff);*/
  
}

@layer base {
  
  html, body {
    @apply w-full h-full font-light;
    
  }
  
  body {
    @apply flex flex-col overflow-hidden bg-gray-200;
  }
  
  .category-brick svg {
    @apply h-full;
  }
}

@layer components {
  .default-form {
    @apply flex flex-col items-center px-7 max-md:w-full md:w-3/5 ;
  }
  
  .default-form .form-name {
    @apply text-3xl text-center;
  }
  
  .default-form .form-block {
    @apply w-full mb-4 flex flex-row flex-wrap justify-center;
    
  }
  
  .default-form .form-input {
    @apply grow appearance-none;
    @apply border-r-2 border-r-gray-600 rounded-r-sm;
    @apply p-1;
    @apply text-lg;
    @apply focus:border-celestial-blue focus:outline-none;
    @apply active:border-celestial-blue active:outline-none;
  }

  .default-form .form-label {
    @apply text-lg cursor-text;
    @apply p-1;
    
  }
  
  .default-form .validation-text {
    @apply p-1;
    @apply text-lg;
    @apply text-chili-red;
  }
  
  .default-form .blue-button {
    @apply bg-celestial-blue text-black stroke-black hover:bg-black text-lg;
    @apply px-4 py-1 w-50 rounded shrink;
    @apply hover:bg-lapis-lazuli hover:text-white hover:stroke-white hover:shadow-celestial-blue;
  }

  .default-form .red-button {
    @apply bg-cinnabar text-black stroke-black hover:bg-black text-lg;
    @apply px-4 py-1 w-50 rounded shrink;
    @apply hover:bg-chili-red hover:shadow-cinnabar;
  }
  
  .category-brick {
    @apply flex flex-row flex-nowrap grow shrink-0 justify-center;
    @apply min-h-16 h-fit max-w-full;
    @apply bg-celestial-blue text-black *:stroke-black text-xl hover:bg-lapis-lazuli;
    @apply transition-colors duration-200 ease-out;
    @apply rounded shadow-lg shadow-gray-400 ;
  }
  
  .main-header {
    @apply h-16 p-4 bg-gunmetal text-white flex flex-row;
  }
  
  .main-footer {
    @apply h-16 p-4 bg-gunmetal text-white flex flex-row justify-center z-10;
  }
  
  .main-content {
    @apply flex flex-row grow-1;
  }
  
  .render-block {
    @apply max-sm:w-full sm:grow-1 overflow-y-auto;
  }
  
  .left-sidebar {
    @apply h-full shrink-0;
    @apply sm:w-60 max-sm:w-full max-sm:absolute max-sm:pb-32;
    @apply bg-gunmetal text-white;
    @apply overflow-y-auto transform transition-transform duration-200;
    @apply aria-hidden:absolute aria-hidden:left-0 aria-hidden:-translate-x-full;
  }
  
  .left-sidebar .nav-menu {
    @apply w-full;
  }
  
  .left-sidebar .nav-menu .btn {
    @apply flex justify-center items-center;
    @apply w-full h-12 bg-celestial-blue text-black text-xl transition-colors duration-75 hover:bg-lapis-lazuli hover:text-white;
    @apply border-b-2 border-lapis-lazuli;
    @apply last:border-none
  }
}

@layer utilities {
}

@variant hover (&:hover);