@model List<CategoryViewModel>

@{
    ViewBag.Title = "Categories";
    Layout = "_Layout";
}

<div class="flex flex-row flex-wrap justify-center content-start gap-x-4 gap-y-4 w-full min-h-full p-4">
    @foreach (CategoryViewModel category in Model)
    {
        <a class="category-brick" asp-controller="Items" asp-action="FromCategory" asp-route-categoryId="@category.Id">
            <span class="text">
                @category.Name
            </span>
        </a>
    }

    <a class="category-brick" asp-controller="Categories" asp-action="Create">
        <span class="text">
            Add new item
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H9M12 12H20M12 4V20" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    </a>
</div>
