@{
    ViewBag.Title = "Not Found";
    Layout = "_Layout";
}

<div class="w-full h-full flex justify-center content-center items-center">
    <h1 class="text-3xl uppercase h-fit ">
        Page is not found
    </h1>
</div>
